@font-face {
    font-family: SouthAustria;
    src: url('./SouthAustriaDEMO.otf') format('opentype');
}

@font-face {
    font-family: Arial;
    src: url('./ARIAL.TTF') format('truetype');
}

.main{
    height: 100vh;
    background: url('../../public/bg.jpg') no-repeat center center;
    background-size: cover;
    overflow-y: scroll;
    overflow-x: hidden;
}
.name{
    font-family: 'SouthAustria';
    font-weight: normal;
    font-style: normal;
    margin: 30vh 20px;
    font-size: 70px;
    text-align: center;
}
.after{
    backdrop-filter: blur(100px);
    background: rgba(255,255,255,0.7);
    overflow-y: auto;
}
.title{
    font-family: 'SouthAustria';
    font-weight: normal;
    font-style: normal;
    margin: 1rem 0;
    font-size: 2rem;
    width: 100%;
    text-align: center;
}
.date{
    color: rgb(158, 158, 158);
    font-size: 1rem;
    width: 200px;
    text-align: right;
    font-family: Arial;
    height: 1.2rem;
    line-height: 1.2rem;
}
.link{
    width: 1.4rem;
    height: 1.2rem;
    display: block;
}
.content{
    width: 50%;
}
.position{
    color: #222;
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: bold;
    font-family: Arial;
}
.desc{
    color: #444;
    font-size: 1rem;
    font-family: Arial;
    margin: 0.5rem 0;
}
.tag{
    margin: 5px 5px 5px 0;
}