@import './var.scss';
@import './mixin.scss';

@font-face {
    font-family: SouthAustria;
    src: url('fonts/SouthAustriaDEMO.otf') format('opentype');
}

@font-face {
    font-family: Arial;
    src: url('fonts/ARIAL.TTF') format('truetype');
}

.main {
    min-height: calc(100vh - 40px);
    min-height: calc(var(--vh, 1vh) * 100 - 40px);
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}
.banner {
    height: 45vh;
    width: 100%;
    background: url('../public/bg.jpg') no-repeat center center;
    background-size: cover;
    .name {
        font-family: $font-family-title;
        font-weight: normal;
        font-style: normal;
        padding-top: 10%;
        font-size: 90px;
        text-align: center;
        color: $font-color-white;
    }
}

.content {
    width: 80%;
    max-width: 980px;
    // background: #fff;
    height: auto;
    margin-left: 50%;
    transform: translateX(-50%);
}

.desc {
    width: 50%;
    font-family: $font-family-subtitle;
    font-size: $font-size-medium;
    color: $font-color-text;
    margin: 50px auto;
    letter-spacing: -1px;
    &-list {
        margin-top: 15px;
        font-size: $font-size-base;
    }
}

// ======= components ========

.navigator {
    @include flex-row;
    @include linear-bg;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    height: 45px;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;

    &.homepage {
        background: transparent !important;
        border-bottom: 2px solid rgba(255, 255, 255, 0.6);
        position: absolute;
        backdrop-filter: blur(0);
        .nav-item {
            color: rgba(255, 255, 255, 0.8);

            &.active {
                color: #fff;
            }
        }
    }
    .home {
        margin-left: 0;
        margin-right: auto;
    }
    .nav-item {
        @include flex-row-center;
        margin: 0 15px;
        font-family: $font-family-subtitle;
        font-size: $font-size-base;
        &.active {
            color: $font-color-text;
        }
        &-name {
            margin-top: 3px;
            margin-left: 4px;
        }
    }
}

.global-footer {
    @include flex-row;
    @include linear-bg;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 0 20px;
    background-color: #efefef;

    .word {
        font-family: $font-family-text;
        font-size: $font-size-base;
        color: $font-color-text;
    }
    .link {
        @include flex-row-center;
    }
    .link-item {
        margin-left: 10px;
    }
}

.page-header {
    @include linear-bg;
    margin: 0;
    width: 100%;
    height: 150px;
    overflow: hidden;
    .title {
        font-family: $font-family-title;
        font-size: 4rem;
        color: $font-color-title;
        margin: 50px auto 0 10vw;
        letter-spacing: -2px;
    }
}

// ======== section ==========
.section {
    min-height: 100vh;
    .section-content {
        width: 70%;
        margin: 0 auto;
        &.toolbox {
            width: 50%;
        }
    }
    .brief {
        text-align: center;
        margin: 30px auto;
    }
    .section-title {
        font-family: $font-family-text;
        font-size: 1.4rem;
        color: $font-color-title;
        font-weight: 600;
        margin: 20px 0;
        text-align: center;
    }
}

.block {
    margin-top: 25px;
    margin-bottom: 50px;
    .icon {
        width: 20px;
        height: 20px;
        line-height: $font-size-base;
        margin-right: 10px;
    }
    .subtitle {
        @include flex-row;
        font-family: $font-family-subtitle;
        margin: 15px 0;
        font-size: $font-size-base;
        width: 100%;
        text-align: center;
    }
    .block-item:hover {
        .subtitle {
            font-weight: bold;
            color: $font-color-title;
        }
        // .icon {
        //     box-shadow: 0 0 20px #fce4d3;
        // }
    }
    .block-content {
        margin-bottom: 40px;
        .title {
            font-family: $font-family-text;
            font-size: $font-size-medium;
            font-weight: 600;
        }
        .desc {
            width: 100%;
            font-family: $font-family-text;
            font-size: 1.1rem;
            margin: 15px 0;
            letter-spacing: normal;
        }
        .tags {
            @include flex-row;
            flex-wrap: wrap;

            .tag-item {
                padding: 3px 12px;
                border-radius: 1rem;
                text-align: center;
                margin: 0 6px 8px 0;
                font-family: $font-family-text;
                font-size: $font-size-small;
                border: 2px solid #fce4d3;
                &:hover {
                    border: none;
                    background-color: #ff8834;
                    color: $font-color-white;
                    font-weight: bold;
                    border: 2px solid #ff8834;
                }
            }
        }
    }
}

// =========== blog list =========
.blog-list {
    width: 70%;
    margin: 0 auto;
    min-height: calc(100vh - 235px);
    &-item {
        padding: 30px 0 10px;
        border-bottom: 1px solid #e2e2e2;
    }
    .list-title {
        font-family: $font-family-subtitle;
        font-size: $font-size-large;
        color: $font-color-black !important;
    }
    .list-date {
        font-family: $font-family-subtitle;
        font-size: $font-size-base;
        color: $font-color-light;
        padding: 10px 0;
    }
    .list-tag-item {
        margin: 10px 5px 10px 0;
    }
    .list-footer {
        @include flex-row;
        justify-content: space-between;
    }
}

// ======= blog post ========
.post {
    width: 60%;
    margin: 0 auto;
    &-title {
        font-family: $font-family-subtitle;
        font-size: $font-size-large;
        color: $font-color-title;
        padding: 40px 0;
    }
    &-info {
        width: 100%;
        @include flex-row;
        justify-content: space-between;
        font-family: $font-family-text;
        font-size: $font-size-base;
        color: $font-color-light;
    }
    &-tag {
    }
    &-content {
        padding: 50px 0 80px 0;
        font-family: $font-family-text;
        font-size: $font-size-base;
        color: $font-color-text;
        line-height: 1.6rem;
        p {
            margin: 1rem 0;
        }
        ul {
            margin-left: 2rem;
            padding: 10px 0;
        }
    }
}
// ========== not found ============
.not_found {
    @include flex-column;
    @include linear-bg;
    width: 100%;
    height: calc(100vh - 85px);
    justify-content: center;
    .title {
        width: 100%;
        font-family: $font-family-subtitle;
        font-size: $font-size-base;
        text-align: center;
        margin-top: -100px;
    }
    .back {
        width: 100%;
        text-align: center;
        font-family: $font-family-subtitle;
        font-size: $font-size-medium;
        padding: 50px 0;
    }
}

// ======== switch language =========
.switch_lan {
    @include linear-bg;
    @include flex-row;
    justify-content: space-between;
    width: 50px;
    height: 25px;
    border-radius: 25px;
    padding: 0 4px;
    .btn {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #fff;
    }
    .lan {
        font-family: $font-family-subtitle;
        font-size: $font-size-small;
        color: $font-color-text;
        font-weight: bold;
    }
}

@media only screen and (max-width: 768px) {
    .banner {
        height: 32vh;
        .name {
            padding: 14vh 20px 0;
            font-size: 50px;
        }
    }
    .content {
        margin-top: 10vh;
        width: 90%;
    }
    .desc {
        width: 90%;
        margin: 30px auto;
    }
    .page-header {
        height: 120px;
        .title {
            font-size: 3rem;
            margin: 45px auto 0 10vw;
        }
    }
    .section {
        .section-content {
            width: 85%;
            &.toolbox {
                width: 85%;
            }
        }
    }
    .blog-list,
    .post {
        width: 85%;
    }
    .blog-list {
        min-height: calc(100vh - 205px);
    }
}
